*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

@font-face{
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap)
}

@font-face {
    font-family: 'Margin';
    src: url(../fuentes/OPTIMistral-Graff.otf);
}


.body_basquet{
    margin-top: 15px;
    justify-items: center;
    background-image: linear-gradient(135deg,  #fae105 23%, rgba(236, 240, 16, 0.979) 100%);

}

.header_pages{
    grid-area: header_contacto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;

    .pages_h1{
        text-align: center;
        color: $colorprincipal;
        font-family: 'Margin';
        font-weight: 200;
        font-size: 60px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    img{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90px;
        height: 110px;
        object-fit: cover;
    }
}

.main_basquet{
    width: 100%;
    height: 100%;

    ul{
        margin-bottom: 0px;
    }
}


.navmenu_pages{
    background-color: $colorprincipal;
    padding:0px;

    .button_pages{
        color:#fae105;
    }

    .menu_pages{
        background-color: $colorprincipal;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;

        .x_pages{
        background-color: white;
        }
    
        .a_pages{
            text-decoration: none;
            color: $colorsecundario;
            font-size: 17px;
            font-weight: 400;
        }    
        
        li{
            font-family: 'Poppins';
            font-style:normal;
            font-weight: 300;
            padding: 5px;
            text-align: left;
            list-style: none;
        }
    }
}


.imagenesbas{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    .imagenesbasquet{
        width: 95%;
        height: 95%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 2px 2px 10px #999;
    }

    p{
        color: $colorprincipal;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 25px;
        margin: 10px;

    }
}




 
.tablambasquet{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 50px;  
    margin-bottom: 50px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: white;
    padding-left: 15%;
    padding-right: 2%;
    padding-top:2%;
    padding-bottom: 2%;

    .tablasbasquet{
        text-align: center;
        position: static;
        border-color: black;
        color: black;
        width: 100%;
        height:100%;
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 200;
    }
}

.tablafbasquet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;  
    margin-bottom: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: white;
    padding-left: 2%;
    padding-right: 15%;
    padding-top:2%;
    padding-bottom: 2%;

    .tablasbasquet{
        text-align: center;
        position: static;
        border-color: black;
        color: black;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        width: 90%;
        height:100%;
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 200;
    }
}



.footer_pages{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin:50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .pages_a_f{
        text-decoration: none;
        color: $colorprincipal;
        font-size: 17px;
        &:hover{
            font-size: 18px;
            font-weight: 300;
        }
    }
}



