*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:960px){
        
.header_index{

    h1{
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.header_pages{

    .pages_h1{
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}
}   
    
@media screen and (max-width:768px){

  
.imagenes_index{
    object-fit: cover;
    height:300px;
    width: 70%;
}
        
.footer_index{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin-top: 10px;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .a_f{
        text-decoration: none;
        color: $colorsecundario;
        font-size: 15px;
    }

    img{
        object-fit: fit;
    }
}


.footer_pages{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin:50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .pages_a_f{
        text-decoration: none;
        color: $colorprincipal;
        font-size: 15px;
    }

    img{
        object-fit: fit;
}
}
}
    
@media screen and (max-width:680px){

.header_index{

    h1{
        font-size: 25px;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    img{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 10%;
        height: 10%;
        object-fit:cover;
        }
}

.header_pages{

    .pages_h1{
        font-size: 25px;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    img{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    height: 10%;
    object-fit:cover;
    }
}

.menu{
    background-color: $colorsecundario;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin:0%;

    a{
    font-size: 13px;
    }

    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

.pages_menu{
    background-color: $colorprincipal;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin:0%;

    a{
        font-size: 13px;
        }
 
    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

.footer_index{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin-top: 10px;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .a_f{
        text-decoration: none;
        color: $colorsecundario;
        font-size: 15px;
    }

    img{
        width: 25px;
        height: 25px;
    }
}


.footer_pages{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin:50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .pages_a_f{
        text-decoration: none;
        color: $colorprincipal;
        font-size: 15px;
    }

    img{
        width: 25px;
        height: 25px;
}
}

}
    
@media screen and (max-width:425px){

.menu{
    background-color: $colorsecundario;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin:0%;

    a{
    font-size: 10px;
    }

    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

.pages_menu{
    background-color: $colorprincipal;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin:0%;
    
    a{
        font-size: 10px;
        }
 
    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

}
