*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:960px){
        
.header_index{

    h1{
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.header_pages{

    .pages_h1{
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}
}   
    
@media screen and (max-width:768px){

.main_index{

    .imagenes_index{
        margin-top: 0px;    
        object-fit: cover;
        height:100%;
        width: 100%;
    
    }

    .deportes{
        margin-top: 25px;
        margin-bottom: 25px; 
    
        h3{
        font-size: 15px;
        }
            
    }
}




.navmenu{
    background-color: $colorsecundario;
    padding:0px;

    .menu{
        background-color: $colorsecundario;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        a{
            text-decoration: none;
            color: $colorprincipal;
            font-size: 14px;
            font-weight: 400;
        }    
        
        li{
            font-family: 'Poppins';
            font-style:normal;
            font-weight: 300;
            padding: 5px;
            text-align: left;
            list-style: none;
        }
    }
}

.pages_menu{
    margin:0%;
}


.imagenesnautica{
    display: grid;
    grid-template-areas: 
    "imagennautica7 imagennautica7 imagennautica7"
    "imagennautica7 imagennautica7 imagennautica7"
    "imagennautica7 imagennautica7 imagennautica7";
    grid-column-gap: 0px;
    grid-row-gap:0px;
    padding:0px;
    background-color: white; 

}


.info_nautica{
    background-color: white;
    margin: 0px;
    padding: 30px;

    h3{
        text-align: center;
        padding: 12px; 
        font-size: 15px;

    }

    .info{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        padding: 12px;
        text-align: center;
        list-style: none;
    } 

    p{
        color: $colorprincipal;
        font-weight: bold;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 200;
        font-size: 13px;
    }
}
        
.footer_index{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin-top: 10px;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .a_f{
        text-decoration: none;
        color: $colorsecundario;
        font-size: 15px;
    }

    img{
        object-fit: fit;
    }
}

.tablambasquet{

    .tablasbasquet{
        font-size: 13px;
        display: block;
        overflow-x: auto;
    }
}

.tablafbasquet{

    .tablasbasquet{
        font-size: 13px;
        display: block;
        overflow-x: auto;
    }
}

.imagenesbas{
margin: 0px;
padding: 0px;
    
    .imagenesbasquet{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        box-shadow: none;

    }
    
    p{
        font-size: 15px;

    }

}

.carruselhockey{
    margin-top: 0px;    

    .imageneshockey{
        object-fit: cover;
        height:100%;
        width: 100%;
    }
}

.horarioshockey{
    
    .horarios{
      
        .tablahockey{
            font-size: 12px;
            display: block;
            overflow-x: auto;
        }

        p{
            font-size: 15px;
        }
    }
}

.footer_pages{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin:50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .pages_a_f{
        text-decoration: none;
        color: $colorprincipal;
        font-size: 15px;
    }

    img{
        object-fit: fit;
}
}
}
    
@media screen and (max-width:680px){

.header_index{

    h1{
        font-size: 25px;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    img{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 10%;
        height: 10%;
        object-fit:cover;
        }
}

.header_pages{

    .pages_h1{
        font-size: 25px;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    img{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    height: 10%;
    object-fit:cover;
    }
}

.navmenu{
    background-color: $colorsecundario;
    padding:0px;

    .menu{
        background-color: $colorsecundario;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        a{
            text-decoration: none;
            color: $colorprincipal;
            font-size: 14px;
            font-weight: 400;
        }    
        
        li{
            font-family: 'Poppins';
            font-style:normal;
            font-weight: 300;
            padding: 5px;
            text-align: left;
            list-style: none;
        }
    }
}

.pages_menu{
    background-color: $colorprincipal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0%;

    a{
        font-size: 13px;
        }
 
    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

.footer_index{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin-top: 10px;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .a_f{
        text-decoration: none;
        color: $colorsecundario;
        font-size: 15px;
    }

    img{
        width: 25px;
        height: 25px;
    }
}


.footer_pages{
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 200;
    margin:50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;

    .pages_a_f{
        text-decoration: none;
        color: $colorprincipal;
        font-size: 15px;
    }

    img{
        width: 25px;
        height: 25px;
}
}

}

@media screen and (max-width:575px){

.navmenu{
    background-color: $colorsecundario;
    padding:0px;

    .menu{
        background-color: $colorsecundario;
        display: flex;
        flex-direction: row;
        justify-content: left;
    
        a{
            text-decoration: none;
            color: $colorprincipal;
            font-size: 14px;
            font-weight: 400;
        }    
        
        li{
            font-family: 'Poppins';
            font-style:normal;
            font-weight: 300;
            padding: 1px;
            text-align: left;
            list-style: none;
        }
    }
}

}

@media screen and (max-width:425px){

.main_index{

    .deportes{
        
        h3{
            font-size: 15px;
        }
    }
}    
.pages_menu{
    background-color: $colorprincipal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0%;
    
    a{
        font-size: 10px;
        }
 
    li{
        font-family: 'Poppins';
        font-style:normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none;
    }
}

.footer_pages{

    .pages_a_f{
        font-size: 12px;
    }

}

}
