* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap); }

@font-face {
  font-family: 'Margin';
  src: url(../fuentes/OPTIMistral-Graff.otf); }

.body_index {
  margin-top: 15px;
  justify-items: center;
  background-image: linear-gradient(135deg, #101111 65%, #fdf72d 100%); }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.header_index {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: transparent; }
  .header_index h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fae105;
    font-family: "Margin";
    font-size: 60px;
    font-weight: 200; }
  .header_index img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 110px;
    object-fit: cover; }

.main_index {
  background: transparent; }
  .main_index .deportes {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px; }
    .main_index .deportes h3 {
      font-family: 'Poppins';
      color: white;
      display: flex;
      justify-content: center;
      padding-top: 10px; }
  .main_index .navmenu {
    background-color: #fae105;
    padding: 0px; }
    .main_index .navmenu .x {
      background-color: white; }
    .main_index .navmenu .menu {
      background-color: #fae105;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: center; }
      .main_index .navmenu .menu a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: 300; }
      .main_index .navmenu .menu li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none; }
  .main_index .imagenes_index {
    object-fit: cover;
    height: 80%;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px; }

.textos_index {
  font-family: 'Poppins';
  padding: 8px; }
  .textos_index h2 {
    text-align: left;
    color: #fae105;
    padding: 20px;
    font-size: 20px; }
  .textos_index h3 {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 20px; }
  .textos_index p {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    text-align: justify; }
  .textos_index mark {
    background-color: #fae105;
    color: black; }

.footer_index {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .footer_index .a_f {
    text-decoration: none;
    color: #fae105;
    font-size: 17px; }
  .footer_index img {
    object-fit: fit; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap); }

@font-face {
  font-family: 'Margin';
  src: url(../fuentes/OPTIMistral-Graff.otf); }

.row {
  --bs-gutter-x: 0 rem; }

.body_hockey {
  justify-items: center;
  margin-top: 15px;
  background-image: linear-gradient(135deg, #fae105 23%, rgba(236, 240, 16, 0.979) 100%); }

.header_pages {
  grid-area: header_contacto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: transparent; }
  .header_pages .pages_h1 {
    text-align: center;
    color: black;
    font-family: 'Margin';
    font-weight: 200;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .header_pages img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 110px;
    object-fit: cover; }

.main_hockey {
  width: 100%;
  height: 100%; }

.pages_menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .pages_menu a {
    text-decoration: none;
    color: #fae105;
    font-size: 17px;
    font-weight: 300; }
  .pages_menu li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    list-style: none; }

.carruselhockey {
  margin-top: 50px; }
  .carruselhockey .imageneshockey {
    object-fit: cover;
    height: 80%;
    width: 80%; }

.pages_h3 {
  text-align: center;
  font-family: 'Poppins';
  color: black;
  padding: 20px;
  font-size: 20px; }

.horarioshockey {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  margin-bottom: 50px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%); }
  .horarioshockey .horarios {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 15%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%; }
    .horarioshockey .horarios .tablahockey {
      text-align: center;
      color: black;
      border-color: black;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      width: 100%;
      background-color: transparent; }
    .horarioshockey .horarios p {
      color: black;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      font-family: 'Poppins';
      font-weight: 200;
      font-size: 20px;
      margin: 10px; }

.footer_pages {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  margin: 50px;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .footer_pages .pages_a_f {
    text-decoration: none;
    color: black;
    font-size: 17px; }
    .footer_pages .pages_a_f:hover {
      font-size: 18px;
      font-weight: 300; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap); }

@font-face {
  font-family: 'Margin';
  src: url(../fuentes/OPTIMistral-Graff.otf); }

.formboton, .contacto .contacto_3 .formulario .formboton1, .contacto .contacto_3 .formulario .formboton2 {
  background-color: black;
  border-color: black;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%; }

.body_contacto {
  margin-top: 15px;
  justify-items: center;
  background-image: linear-gradient(135deg, #fae105 23%, rgba(236, 240, 16, 0.979) 100%); }

.header_pages {
  grid-area: header_contacto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: transparent; }
  .header_pages .pages_h1 {
    text-align: center;
    color: black;
    font-family: 'Margin';
    font-weight: 200;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .header_pages img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 110px;
    object-fit: cover; }

.main_contacto {
  width: 100%;
  height: 100%; }

.pages_menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .pages_menu a {
    text-decoration: none;
    color: #fae105;
    font-size: 17px;
    font-weight: 300; }
  .pages_menu li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    list-style: none; }

.contacto {
  margin: 15px;
  justify-items: center;
  padding-top: 5px; }
  .contacto .pages_h3 {
    text-align: center;
    font-family: 'Poppins';
    color: black;
    padding: 20px;
    font-size: 20px; }
  .contacto .contacto_1 {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: white;
    margin-bottom: 1%;
    padding: 15px; }
    .contacto .contacto_1 iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 500px;
      margin-left: 10%;
      margin-right: 10%; }
  .contacto .contacto_2 {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: white;
    margin-bottom: 1%;
    padding: 15px; }
    .contacto .contacto_2 .info {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: medium;
      padding: 15px;
      text-align: center;
      list-style: none;
      width: 100%; }
  .contacto .contacto_3 {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: white;
    margin-bottom: 1%;
    padding: 15px; }
    .contacto .contacto_3 .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: medium;
      padding: 15px;
      text-align: left;
      list-style: none; }
      .contacto .contacto_3 .formulario .form {
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: 10%; }
      .contacto .contacto_3 .formulario .formboton2 {
        background-color: grey; }
    .contacto .contacto_3 select {
      width: 80%;
      height: 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      font-size: medium;
      margin: 2px; }
    .contacto .contacto_3 input {
      width: 80%;
      height: 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      font-size: medium;
      align-items: center;
      margin: 2px; }
    .contacto .contacto_3 textarea {
      width: 80%;
      height: 280px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 200;
      font-size: medium;
      margin: 2px; }

.footer_pages {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  margin: 50px;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .footer_pages .pages_a_f {
    text-decoration: none;
    color: black;
    font-size: 17px; }
    .footer_pages .pages_a_f:hover {
      font-size: 18px;
      font-weight: 300; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap); }

@font-face {
  font-family: 'Margin';
  src: url(../fuentes/OPTIMistral-Graff.otf); }

.body_nauticas {
  margin-top: 15px;
  justify-items: center;
  background-image: linear-gradient(135deg, #fae105 23%, rgba(236, 240, 16, 0.979) 100%); }

.header_pages {
  grid-area: header_contacto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: transparent; }
  .header_pages .pages_h1 {
    text-align: center;
    color: black;
    font-family: 'Margin';
    font-weight: 200;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .header_pages img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 110px;
    object-fit: cover; }

.main_nauticas {
  width: 100%;
  height: 100%; }

.pages_menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  margin: 0px; }
  .pages_menu a {
    text-decoration: none;
    color: #fae105;
    font-size: 17px;
    font-weight: 300; }
  .pages_menu li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    padding: 15px;
    text-align: left;
    list-style: none; }

.imagenesnautica {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.75fr;
  grid-template-rows: 0.75fr 0.75fr 0.75fr;
  grid-template-areas: "imagennautica1 imagennautica4 imagennautica7" "imagennautica2 imagennautica5 imagennautica8" "imagennautica3 imagennautica6 imagennautica9";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 5px;
  background-color: white; }
  .imagenesnautica .imagennautica1 {
    grid-area: imagennautica1;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica2 {
    grid-area: imagennautica2;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica3 {
    grid-area: imagennautica3;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica4 {
    grid-area: imagennautica4;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica5 {
    grid-area: imagennautica5;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica6 {
    grid-area: imagennautica6;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica7 {
    grid-area: imagennautica7;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica8 {
    grid-area: imagennautica8;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .imagenesnautica .imagennautica9 {
    grid-area: imagennautica9;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.info_nautica {
  background-color: white;
  margin: 0px;
  padding: 0px; }
  .info_nautica ul {
    padding: 0px; }
  .info_nautica h3 {
    text-align: center;
    padding: 20px; }
  .info_nautica .info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    list-style: none; }
  .info_nautica p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 20px; }
  .info_nautica mark {
    background-color: #fae105; }

.footer_pages {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  margin: 50px;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .footer_pages .pages_a_f {
    text-decoration: none;
    color: black;
    font-size: 17px; }
    .footer_pages .pages_a_f:hover {
      font-size: 18px;
      font-weight: 300; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%; }

@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap); }

@font-face {
  font-family: 'Margin';
  src: url(../fuentes/OPTIMistral-Graff.otf); }

.body_basquet {
  margin-top: 15px;
  justify-items: center;
  background-image: linear-gradient(135deg, #fae105 23%, rgba(236, 240, 16, 0.979) 100%); }

.header_pages {
  grid-area: header_contacto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  background: transparent; }
  .header_pages .pages_h1 {
    text-align: center;
    color: black;
    font-family: 'Margin';
    font-weight: 200;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .header_pages img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    height: 110px;
    object-fit: cover; }

.main_basquet {
  width: 100%;
  height: 100%; }
  .main_basquet ul {
    margin-bottom: 0px; }

.navmenu_pages {
  background-color: black;
  padding: 0px; }
  .navmenu_pages .button_pages {
    color: #fae105; }
  .navmenu_pages .menu_pages {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center; }
    .navmenu_pages .menu_pages .x_pages {
      background-color: white; }
    .navmenu_pages .menu_pages .a_pages {
      text-decoration: none;
      color: #fae105;
      font-size: 17px;
      font-weight: 400; }
    .navmenu_pages .menu_pages li {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      padding: 5px;
      text-align: left;
      list-style: none; }

.imagenesbas {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .imagenesbas .imagenesbasquet {
    width: 95%;
    height: 95%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 10px #999; }
  .imagenesbas p {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    margin: 10px; }

.tablambasquet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: white;
  padding-left: 15%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%; }
  .tablambasquet .tablasbasquet {
    text-align: center;
    position: static;
    border-color: black;
    color: black;
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200; }

.tablafbasquet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
  background-color: white;
  padding-left: 2%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%; }
  .tablafbasquet .tablasbasquet {
    text-align: center;
    position: static;
    border-color: black;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 90%;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200; }

.footer_pages {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  margin: 50px;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center; }
  .footer_pages .pages_a_f {
    text-decoration: none;
    color: black;
    font-size: 17px; }
    .footer_pages .pages_a_f:hover {
      font-size: 18px;
      font-weight: 300; }

* {
  margin: 0;
  padding: 0; }

@media screen and (max-width: 960px) {
  .header_index h1 {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px; }
  .header_pages .pages_h1 {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 10px; } }

@media screen and (max-width: 768px) {
  .main_index .imagenes_index {
    margin-top: 0px;
    object-fit: cover;
    height: 100%;
    width: 100%; }
  .main_index .deportes {
    margin-top: 25px;
    margin-bottom: 25px; }
    .main_index .deportes h3 {
      font-size: 15px; }
  .navmenu {
    background-color: #fae105;
    padding: 0px; }
    .navmenu .menu {
      background-color: #fae105;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .navmenu .menu a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 400; }
      .navmenu .menu li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none; }
  .pages_menu {
    margin: 0%; }
  .imagenesnautica {
    display: grid;
    grid-template-areas: "imagennautica7 imagennautica7 imagennautica7" "imagennautica7 imagennautica7 imagennautica7" "imagennautica7 imagennautica7 imagennautica7";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0px;
    background-color: white; }
  .info_nautica {
    background-color: white;
    margin: 0px;
    padding: 30px; }
    .info_nautica h3 {
      text-align: center;
      padding: 12px;
      font-size: 15px; }
    .info_nautica .info {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      font-size: 13px;
      padding: 12px;
      text-align: center;
      list-style: none; }
    .info_nautica p {
      color: black;
      font-weight: bold;
      text-align: center;
      font-family: 'Poppins';
      font-weight: 200;
      font-size: 13px; }
  .footer_index {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    margin-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
    .footer_index .a_f {
      text-decoration: none;
      color: #fae105;
      font-size: 15px; }
    .footer_index img {
      object-fit: fit; }
  .tablambasquet .tablasbasquet {
    font-size: 13px;
    display: block;
    overflow-x: auto; }
  .tablafbasquet .tablasbasquet {
    font-size: 13px;
    display: block;
    overflow-x: auto; }
  .imagenesbas {
    margin: 0px;
    padding: 0px; }
    .imagenesbas .imagenesbasquet {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      box-shadow: none; }
    .imagenesbas p {
      font-size: 15px; }
  .carruselhockey {
    margin-top: 0px; }
    .carruselhockey .imageneshockey {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .horarioshockey .horarios .tablahockey {
    font-size: 12px;
    display: block;
    overflow-x: auto; }
  .horarioshockey .horarios p {
    font-size: 15px; }
  .footer_pages {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    margin: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
    .footer_pages .pages_a_f {
      text-decoration: none;
      color: black;
      font-size: 15px; }
    .footer_pages img {
      object-fit: fit; } }

@media screen and (max-width: 680px) {
  .header_index h1 {
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 10px; }
  .header_index img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    height: 10%;
    object-fit: cover; }
  .header_pages .pages_h1 {
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 10px; }
  .header_pages img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10%;
    height: 10%;
    object-fit: cover; }
  .navmenu {
    background-color: #fae105;
    padding: 0px; }
    .navmenu .menu {
      background-color: #fae105;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .navmenu .menu a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 400; }
      .navmenu .menu li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        padding: 5px;
        text-align: left;
        list-style: none; }
  .pages_menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%; }
    .pages_menu a {
      font-size: 13px; }
    .pages_menu li {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      padding: 5px;
      text-align: left;
      list-style: none; }
  .footer_index {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    margin-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
    .footer_index .a_f {
      text-decoration: none;
      color: #fae105;
      font-size: 15px; }
    .footer_index img {
      width: 25px;
      height: 25px; }
  .footer_pages {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    margin: 50px;
    background: transparent;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
    .footer_pages .pages_a_f {
      text-decoration: none;
      color: black;
      font-size: 15px; }
    .footer_pages img {
      width: 25px;
      height: 25px; } }

@media screen and (max-width: 575px) {
  .navmenu {
    background-color: #fae105;
    padding: 0px; }
    .navmenu .menu {
      background-color: #fae105;
      display: flex;
      flex-direction: row;
      justify-content: left; }
      .navmenu .menu a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 400; }
      .navmenu .menu li {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        padding: 1px;
        text-align: left;
        list-style: none; } }

@media screen and (max-width: 425px) {
  .main_index .deportes h3 {
    font-size: 15px; }
  .pages_menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0%; }
    .pages_menu a {
      font-size: 10px; }
    .pages_menu li {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 300;
      padding: 5px;
      text-align: left;
      list-style: none; }
  .footer_pages .pages_a_f {
    font-size: 12px; } }
